.header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #000000,
    #ffffff00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  z-index: 100;
}

.innerHeader {
  justify-content: space-around;
  display: flex;
  width: 95%;
}

.brand {
  /* border: 1px black solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
}
.brand img {
  width: 92px;
  height: 31px;
}

.navList {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-left: 20px;
  /* border: 1px black solid; */
}
.navItem {
  color: rgb(218, 216, 216);
  margin: 0 5px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.2s color ease-in;
}
.navItem:hover {
  color: grey;
}

.navItem:active {
  color: white;
}

.navListTwo {
  /* border: 1px black solid; */
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 20px;
}

.icon {
  width: 22px;
  height: 22px;
  color: white;
  margin: 15px;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.tinyArrow {
  color: white;
  transform: rotateX(180deg);
  height: 25px;
  width: 15px;
}
