* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  background-color: rgb(31, 31, 31);
}


.div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.div p {
  color: white;
}